<div class="img-fondo">
    <a [routerLink]="['/Home']"><img src="../../../assets/img/viumi-logo.jpg" class="logo-viumi2"></a>
</div>






<div class="form-user">


    <div class="register2">
        <h2>{{title}}</h2>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger">
                <strong>Error</strong> {{errorMessage}}
            </div>
        </div>
        <div *ngIf="identity">
            <div class="alert alert-success col-md-9  mb-5 ">
                <strong>Has iniciado sesion</strong>
            </div>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

            <div class="info-email">
                <p>
                    <label for="surname">Email address:</label>
                </p>
                <p>
                    <input type="email" #email name="email" [(ngModel)]="user.email" required>
                </p>
            </div>
            <div class="info-password">
                <p>
                    <label for="password">Password:</label>
                </p>
                <p>
                    <input type="password" #password name="password" [(ngModel)]="user.password" required>
                </p>
            </div>
            <input type="submit" value="Iniciar sesion">
        </form>
    </div>